    <head>
        <!-- Required meta tags always come first -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Getting Started: Serving Web Content</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/sidebar.css" />
        <script src="/js/jquery-3.1.1.js"></script>
    </head>