<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:include="elements/head"></div>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul th:if="${!loggedUser.nick.equalsIgnoreCase('anonymous')}" class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/userview">
                            <p th:text="'Witaj, ' + ${loggedUser.nick} + '!'" />
                        </a>
                    </li>
                    <li>
                        <a href="/newmessageview">Add Message</a>
                    </li>
                    <li>
                        <a href="/showmessagesview">Show messages</a>
                    </li>
                    <li>
                        <a href="/modifyAuth?messageId=2">Add rights</a>
                    </li>
                     <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
                <ul th:if="${loggedUser.nick.equalsIgnoreCase('anonymous')}" class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            <p th:text="'Witaj, ' + ${loggedUser.nick} + '!'" />
                        </a>
                    </li>
                     <li>
                        <a href="/login">Log in</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="msgTable" class="table table-striped">
                                <tr>
                                    <th>Message</th>
                                    <th>Owner</th>
                                </tr>
                                <tr th:each="um,iterationStatus  : ${messages}">
                                    <td th:text="${um.contents}"></td>
                                    <td th:text="${um.owner.nick}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>

    </body>
    <div th:include="elements/footer"></div>

</html>