<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:include="elements/head"></div>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/userview">
                            <p th:text="'Witaj, ' + ${loggedUser.nick} + '!'" />
                        </a>
                    </li>
                    <li>
                        <a href="/newmessageview">Add Message</a>
                    </li>
                    <li>
                        <a href="/showmessagesview">Show messages</a>
                    </li>
                    <li>
                        <a href="/modifyAuth?messageId=2">Add rights</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add rights</h4>
                    </div>
                    <form th:action="@{/addModifyAuth}" method="GET">
                        <div class="modal-body">
                            <input type="hidden" name="messageId" id="messageId"/>
                            <div class="form-group">
                                <label for="sel1">Select user:</label>
                                <select
                                    type="text" name="userId" class="form-control"
                                    id="userIdSelect">
                                    <option th:each="user : ${users}"  th:value="${user.id}" th:text="${user.nick}" />
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <script>
            function initDialogValues(id) {
                $("#messageId").val(id);
            }
        </script>
    </body>
    <div th:include="elements/footer"></div>

</html>