<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
   <h1>Login</h1>
   <p th:text="${error}">tryrtrs</p>
   <form name='f' action="login" method='GET'>
      <table>
         <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''/></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
         </tr>
      </table>
  </form>
</body>
</html>
