<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:include="elements/head"></div>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/userview">
                            <p th:text="'Witaj, ' + ${loggedUser.nick} + '!'" />
                        </a>
                    </li>
                    <li>
                        <a href="/newmessageview">Add Message</a>
                    </li>
                    <li>
                        <a href="/showmessagesview">Show messages</a>
                    </li>
                    <li>
                        <a href="/modifyAuth?messageId=2">Add rights</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>You want to edit message modify rights:</div>
                            <div><p th:text="'List of your messages'"/></div>
                            <div>
                                <table  class="table table-striped">
                                    <tr>
                                        <th>Nr</th>
                                        <th>Owner</th>
                                        <th>Message</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr th:each="um,iterationStatus  : ${usermessages}">
                                        <td th:text="${iterationStatus.count}">1</td>
                                        <td th:text="${um.owner.nick}">001</td>
                                        <td th:text="${um.contents}">empty</td>
                                        <td><button th:onclick="${'javascript:initDialogValues(' + um.id + ')'}" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add rigths</button>
                                            <button th:onclick="${'javascript:initRemoveDialogValues(' + um.id + ')'}" class="btn btn-default" data-toggle="modal" data-target="#removeRightsModal">Remove rights</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add rights</h4>
                    </div>
                    <form th:action="@{/addModifyAuth}" method="GET">
                        <div class="modal-body">
                            <input type="hidden" name="messageId" id="messageId"/>
                            <div class="form-group">
                                <label for="sel1">Select user:</label>
                                <select
                                    type="text" name="userId" class="form-control"
                                    id="userIdSelect">
                                    <option th:each="user : ${users}"  th:value="${user.id}" th:text="${user.nick}" />
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="removeRightsModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Remove rights</h4>
                    </div>
                    <div id="error" class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error!</strong> <p></p>
                    </div>
                    <table id="usersAuthTab" class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script>
            function initDialogValues(id) {
                $("#messageId").val(id);
            }
            function initRemoveDialogValues(id) {
                $("#error").hide();
                $.get("/getMessage?messageId=" +id).done(function (data) {
                    $("#usersAuthTab tr").remove();
                    $.each(data.users, function(key, user ) {
                        /*<![CDATA[*/
                       $("#usersAuthTab").append("<tr><td>"+user.nick+"</td><td><button onclick='javascript:removeUserAuth("+ user.id +","+id+")' class='btn btn-default'>Remove rights</button></td></tr>");
                       /*]]>*/
                    });

                }).fail(function (data) {
                    var obj = JSON.parse(data.responseText);
                    $("#error>p").html(obj.message);
                    $("#error").fadeIn().delay(2000).fadeOut();
                });
            }
            
            function removeUserAuth(userId,messageId){
                  $.get("/removeAuth",{"messageId":messageId, "userId":userId}).done(function(data) {
                      initRemoveDialogValues(messageId);
                  }).fail(function (data) {
                    var obj = JSON.parse(data.responseText);
                    $("#error>p").html(obj.message);
                    $("#error").fadeIn().delay(2000).fadeOut();
                });;
            }
        </script>
    </body>
    <div th:include="elements/footer"></div>

</html>