<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:include="elements/head"></div>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/userview">
                            <p th:text="'Witaj, ' + ${loggedUser.nick} + '!'" />
                        </a>
                    </li>
                    <li>
                        <a href="/newmessageview">Add Message</a>
                    </li>
                    <li>
                        <a href="/showmessagesview">Show messages</a>
                    </li>
                    <li>
                        <a href="/modifyAuth?messageId=2">Add rights</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div>You want to edit message modify rights</div>
                <div>
                    <form id='newmessageform'  name='newmessageform' th:action="@{/createnewmessage}"  method='GET'>
                        <input id="newtext" name="newtext" type= "text"  maxlength="255" required="required" rows="10" cols="30"/>
                        <div><input type="submit" value="submit" /></div>
                    </form>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>

    </body>
    <div th:include="elements/footer"></div>

</html>