<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:include="elements/head"></div>
    <head>
        <style>

            table, td, th {
                border: 1px solid #ddd;
                text-align: left;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                padding: 15px;
            }

        </style>
    </head>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/userview">
                            <p th:text="'Witaj, ' + ${loggedUser.nick} + '!'" />
                        </a>
                    </li>
                    <li>
                        <a href="/newmessageview">Add Message</a>
                    </li>
                    <li>
                        <a href="/showmessagesview">Show messages</a>
                    </li>
                    <li>
                        <a href="/modifyAuth?messageId=2">Add rights</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div><p th:text="'List of your messages'"/></div>
                            <div>
                                <table class='table table-striped'>
                                    <tr>
                                        <th>Nr</th>
                                        <th>Owner</th>
                                        <th>Message</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr th:each="um,iterationStatus  : ${usermessages}">
                                        <td th:text="${iterationStatus.count}">1</td>
                                        <td th:text="${um.owner.nick}">001</td>
                                        <td th:class="@{msgContent-}+${um.id}" th:text="${um.contents}"></td>
                                        <td><button th:if="${messageService.canEdit(loggedUser,um)}" th:onclick="${'javascript:initEditDialogValues(' + um.id + ')'}" class="btn btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                                            <button th:if="${messageService.isOwner(loggedUser,um)}" th:onclick="${'javascript:initDeleteDialogValues(' + um.id + ')'}" class="btn btn-default" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>  
        <div id="editModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit message</h4>
                    </div>
                    <div class="modal-body">
                        <div id="error" class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Error!</strong> <p></p>
                        </div>
                        <input type="hidden" name="messageId" id="messageId"/>
                        <div class="form-group">
                            <label for="comment">Contents:</label>
                            <textarea class="form-control" rows="5" id="contents" name="contents"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="makeEdit" type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="deleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit message</h4>
                    </div>
                    <div class="modal-body">
<!--                        <div id="delError" class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close hidden" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Error!</strong> <p></p>
                        </div>-->
                        <input type="hidden" name="messageId" id="messageId"/>
                        <div class="form-group">
                            <label for="comment">Do you really want to delete?</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="makeDelete" type="button" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function initEditDialogValues(id) {
                $("#messageId").val(id);
                $("#contents").val($(".msgContent-" + id).html());
            }
            function initDeleteDialogValues(id) {
                $("#messageId").val(id);
            }

            $(document).ready(function () {
                $('#error').hide();
                $("#makeEdit").on("click", function () {
                    var json = {
                        messageId: $("#messageId").val(),
                        contents: $("#contents").val()
                    }
                    $.get("/editMessage", json).done(function (data) {
                        $('#editModal').modal('hide');
                        $("#contents").val($(".msgContent-" + data.id).html(data.contents));
                    }).fail(function (data) {
                        var obj = JSON.parse(data.responseText);
                        $("#error>p").html(obj.message);
                        $("#error").fadeIn().delay(2000).fadeOut();
                    })
                });
                $("#makeDelete").on("click", function () {
//                    $('#delError').hide();
                    var json = {
                        messageId: $("#messageId").val(),
                    }
                    $.get("/deleteMessage", json).done(function (data) {
                        $('#deleteModal').modal('hide');
                        location.reload();
                    }).fail(function (data) {
                        var obj = JSON.parse(data.responseText);
                        $("#error>p").html(obj.message);
                        $("#error").fadeIn().delay(2000).fadeOut();
                    })
                });
            });
        </script>
    </body>
    <div th:include="elements/footer"></div>
</html>