<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:include="elements/head"></div>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/userview">
                            <p th:text="'Witaj, ' + ${loggedUser.nick} + '!'" />
                        </a>
                    </li>
                    <li>
                        <a href="/newmessageview">Add Message</a>
                    </li>
                    <li>
                        <a href="/showmessagesview">Show messages</a>
                    </li>
                    <li>
                        <a href="/modifyAuth?messageId=2">Add rights</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 th:text="'Profil użytkownia '+ ${loggedUser.nick}"></h1>
                            <div class="form-group">
                                <label>Last Success login</label>
                                <div th:text="${loggedUser.loginInfo.lastSuccesLogin}"></div>
                            </div>
                            <div class="form-group">
                                <label>Last Failure login</label>
                                <div th:text="${loggedUser.loginInfo.lastFailureLogin}"></div>
                            </div>
                            <div class="form-group">
                                <label>Failure logins to block account</label>
                                <input id="failsNumber" type="number" min="1" th:value="${loggedUser.loginInfo.blockAccountAfter}" />
                                <button id="saveFailsNumber" tybe="button">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <script>
            $("#saveFailsNumber").on("click", function () {
                $.get("/setFailsLoginNumber?number=" + $("#failsNumber").val()).done(function (data) {
                    $("#failsNumber").val(data.number);
                }).fail(function () {
                });
            });
        </script>
    </body>
    <div th:include="elements/footer"></div>

</html>