<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/index.html">PKB Strona głowna</a>
	</div>
	<!-- Top Menu Items -->
	<ul class="nav navbar-right top-nav">
		<li class="dropdown"><a href="#" class="dropdown-toggle"
			data-toggle="dropdown"><i class="fa fa-user"></i>
				<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/admin/profile"><i class="fa fa-fw fa-user"></i>Profil</a></li>
				<li class="divider"></li>
				<li><a>
					<form th:action="@{/logout}" method="post">
						<button type="submit"><i class="fa fa-fw fa-power-off"></i> Wyloguj</button>
					</form>
					</a>
				</li>
			</ul></li>
	</ul>
	<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav side-nav">
			<li><a href="/admin/users"><i
					class="fa fa-fw fa-bar-chart-o"></i> Użytkownicy</a></li>
			<li><a href="/admin/member"><i class="fa fa-fw fa-table"></i>
					Członkowie klubu</a></li>
			<li><a href="/admin/participants"><i
					class="fa fa-fw fa-edit"></i> Uczestnicy</a></li>
			<li><a href="/admin/competitions"><i
					class="fa fa-fw fa-desktop"></i> Zawody</a></li>
			<li><a href="/admin/articles"><i class="fa fa-fw fa-wrench"></i>
					Artykuły</a></li>
			<li><a href="/admin/photo"><i class="fa fa-fw fa-wrench"></i>
					Zdjęcia</a></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>