<!-- jQuery -->
<!-- 	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="/js/jquery-1.9.1.min.js"></script>
<!-- 	<script>
		window.jQuery
				|| document
						.write('<script src="/js/jquery-1.9.1.min.js" charset="UTF-8"><\/script>');
	</script> -->
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- DataTables JavaScript -->
<script src="/tables/datatables/media/js/jquery.dataTables.min.js"></script>
<script
	src="/tables/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js">
	
</script>

<script src="/js/parsley/parsley.min.js"></script>
<script src="/js/parsley/pl.js"></script>
<script>
	window.Parsley.setLocale('pl');
	$(document)
			.ready(
					function() {
						$('#dataTable')
								.DataTable(
										{
											responsive : true,
											"language" : {
												"emptyTable" : "Brak danych w tabeli",
												"infoEmpty" : "Pokazano od 0 do 0 z 0 wszystkich",
												"infoFiltered" : "(przefiltrowano z _MAX_ wszystkich wierszy)",
												"infoPostFix" : "",
												"thousands" : ",",
												"lengthMenu" : "Pokaż _MENU_ wierszy",
												"loadingRecords" : "Ładowanie...",
												"processing" : "Wyszukiwanie...",
												"zeroRecords" : "Nie znaleziono żadnych odpowiadających wierszy",
												"search" : "Wyszukaj:",
												"info" : "Pokazano od _START_ do _END_ z _TOTAL_ wszystkich",
												"paginate" : {
													"first" : "Pierwszy",
													"last" : "Ostatni",
													"next" : "Następny",
													"previous" : "Poprzedni"
												},
											}
										});

						$('#dataTable_length').parent().removeClass().addClass(
								'col-sm-5');
						$('#dataTable_filter').parent().removeClass().addClass(
								'col-sm-6');
						$('#dataTable_filter')
								.parent()
								.parent()
								.append(
										'<div class="col-sm-1"><button id="show" class="btn btn-add pull-right">Dodaj</button></div>');
					});
</script>